#logo {
  border-radius: 50px;
}

body {
    background-color: white;
  }

nav {
    background-color: white;
  }

.jumbotron {
    background-color: white;
  }

.d-block.w-100 {
    width: auto;
    height: 320px;
    object-fit: cover;
  }