#logo {
  border-radius: 50px;
}

body {
    background-color: white;
  }

nav {
    background-color: white;
  }

.jumbotron {
    background-color: white;
  }

.d-block.w-100 {
    width: auto;
    height: 320px;
    object-fit: cover;
  }

  /* Table Style found on https://css-tricks.com/complete-guide-table-element/ */

  td, th {
    width: 4rem;
    height: 2rem;
    border: 0px;
    padding:1rem;
  }
  th {
    background: lightblue;
    border-color: white;
    text-align: center;
  }

  /* Cancel Reservation Form */
  #cancelform {
    padding:1rem;
    border:1px;
    margin:1rem;
  }

  /* The style of the blog form taken by Trivia of CS50 Lab8 exercise and then personalized: 
  https://cs50.harvard.edu/x/2021/labs/8/ */

button, input[type="submit"] {
  background-color: #d9edff;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  text-align: center;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  vertical-align:auto;
}


input[type="text"] {
  line-height: 1.8;
  width: 25%;
  margin-bottom: 10px;
}

input[type="text"]:hover {
  background-color: #f5f5f5;
  transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

input[type="number"] {
  line-height: 1.8;
  width: 25%;
  margin-bottom: 10px;
}

input[type="number"]:hover {
  background-color: #f5f5f5;
  transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

input[type="datetime-local"] {
  line-height: 1.8;
  width: 25%;
}

input[type="datetime-local"]:hover {
  background-color: #f5f5f5;
  transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

/*form {
  padding: 0.5rem;
  border: 0.5rem;
  margin: 0.5rem;
}*/

